html,
/* body {
  height: 100%;
} */

/* adding style using inspect */
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

html, body {
  height: 100%;
}

/*  */

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
  border-radius: 0;
  margin-bottom: -1px;
}

.end{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}